body{
    background-color:darkseagreen;
   
}
.main-container{
    background-color: rgb(183, 178, 178);


    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
     margin-top: 40px;
}
td{
    padding-right: 10px;
    border: 1px black solid;
}