body {
    background-image: url('../assets/addMangaBackground.jpeg');
    background-size:  cover;
    background-repeat:no-repeat;
    
}
.main-container{
    background-color: rgb(183, 178, 178);
    display: flex;
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
}
#addManga-form{
    display: flex;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;

}
