body{
    background-color:darkseagreen;
   
}
.main-container{
    background-color: rgb(183, 178, 178);
    display: flex;
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
}
td{
    padding-right: 10px;
    border: 1px black solid;
}